body{
    background: rgba(184, 151, 238, 0.623);
    font-family: Verdana, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 3px solid rgb(161, 57, 231);
    border-radius: 50%;
    margin: 20px 0;
    align-items: center;
}

.title, .subtitle, .post_title {
    color: rgb(161, 57, 231);
    margin: 10px 0;
}

.post_title {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
}

.post {
    background: rgba(168, 137, 219, 0.466);
    padding: 10px 30px;
    border: 3px dotted rgb(62, 49, 73);
    margin: 20px 0;
    border-radius: 1%;
}

.post_image {
    margin: auto;
    border-radius: 10px;
    width: 100%;
}

.post_content {
    margin: 15px 0;
    text-align: justify;
}

a {
    color: indigo;
    text-decoration: none;
    ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 30px;
}

li {
    margin: 10px 0;
    font-size: 20px;
    color: rgb(161, 57, 231);
}